/* Elements in VotingSystem */



#popup_container {
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
    min-width: 400px;
    min-height: 500px;
    max-height: 500px;
    z-index: 10;
    border-radius: 10px;
    background-color:white;
    border: 1px black solid;
  }

  

#explanation {
    display: block;
    margin: auto;
    margin-top: 0;
    border: 2px #073763ff solid;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    height: 80%;
    resize:none;
    background-color:rgba(255, 255, 255,);
  }

  #explain-area {
    height: 100%;
    width: 100%;
  }
  
  #explain-header {
    width: 90%;
    display: block;
    margin: auto;
    background-color:#073763ff;
    margin-bottom: -10px;
  }
  
  button#send_vote {
    border-radius: 5px;
    background-color: #073763ff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    height:45px;
    width:80%;
    min-width:75px;
  }
  
  .vote_buttons {
    width: fit-content;
    display: block;
    margin: auto;
  }
  
  #you_voted {
    margin-left: 10px;
  }
  
  #yay {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    height: 50px;
    width: 130px;
    background-color: #92b7c9;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
  
  #nay {
    display: inline-block;
    margin-top: 10px;
    height: 50px;
    width: 130px;
    background-color:#073763ff;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }

/* 


 
#profile_pic {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 85%;
  min-width: 50px;
  height: 25%;
  min-width: 50px;
  border: 5px solid #92b7c9;
} */