#search {
  display: block;
  width: 90%;
  margin-top: 40px;
  border-radius: 1px;
  height: 40px;
  border: 5px #184f64 solid;
  
}

.login {
  display: flex;
  flex-wrap: nowrap;
}
#logo {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  font-family: 'Spectral', serif;
  font-size: 4em;
}

#login{
  display: block;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 20px;
  width: 80%;
}

.sign#login {
  margin-left: 20px;
}

#experimentNav {
  position: fixed;
  z-index: 5;
  width: 0%;
  height: 100vh;
  margin-left: -15px;
  background-color: red;
  transition: width 2s;
}

.navElement {
  line-height: 50px;
  width: 80%;
  margin-left: 35px;
  margin-top: 20px;
  text-align: left;
  transition: background-color 0.5s;
}
.navElement:hover {
  background-color:white;
  transition: background-color 0.5s;
}

.sort {
  border: 1px black solid;
}







